<section class="snap-intro">
  <div class="snap-intro__wrapper">
    <div class="snap-intro__model">
      <canvas class="js-animatedImg" id="snap_intro_model" path="/images/intro-ap-spritesheet/" from="0000" to="0064" ext=".png" width="1440" height="810" >
    </div>
    <div class="snap-intro__title -title-1">
      AirPods Pro 1
    </div>
    <div class="snap-intro__title -title-2">
      Adaptive Audio.<Br>
      Now playing.
    </div>
    <div class="snap-intro__buttons">
      <a href="#/">Watch <i>Quiet the noise</i> <span class="icon icon-after icon icon-playcircle"></span></a>
      <a href="#/">Watch the film <span class="icon icon-after icon icon-playcircle"></span></a>
    </div>
  </div>
</section>